@using FinancialPortal.Models
@model DashboardViewModel
<!-- Header -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-4">
                <h1 class="m-0 text-dark" style="font-weight: bold; font-size: 350%">$5,927.49 (Monthly Budget)</h1>
            </div>
        </div>
    </div>
</div>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <section class="col-lg-4">
                <div id="partialOneDiv">
                    @Html.Partial("_DashboardPartialOne", Model.group)
                </div>

            </section>
            <section class="col-lg-8">
                <!--Row for quick info-->
                <div class="row">
                    <div class="col-4">
                        <div class="info-box">
                            <span class="info-box-icon bg-red"><i class="fas fa-calendar-day"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Spent Today</span>
                                <span class="info-box-number">$@Model.spentToday</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="fas fa-calendar-week"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Spent This Week</span>
                                <span class="info-box-number">$@Model.spentWeek</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="info-box">
                            <span class="info-box-icon bg-info"><i class="far fa-calendar"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Spent This Month</span>
                                <span class="info-box-number">$@Model.spentMonth</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                </div>
                <!--Line Chart-->
                <div class="row">
                    <div class="col">
                        <div class="card card-primary" style="width: 100%">
                            <div class="card-header">
                                <h3 class="card-title">Budget Status</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart">
                                    <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                    <canvas id="areaChart" style="height: 250px; min-height: 250px; display: block; width: 100%;" height="625" class="chartjs-render-monitor"></canvas>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
                <div id="partialTwoDiv">
                    @Html.Partial("_DashboardPartialTwo", Model.group)
                </div>
            </section>
        </div>
    </div>
</section>
<!-- /.content-wrapper -->

@section scripts {
    <script>
    //--------------
    //- AREA CHART -
    //--------------

    // Get context with jQuery - using jQuery's .get() method.
    var areaChartCanvas = $('#areaChart').get(0).getContext('2d')

    var areaChartData = {
      labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
      datasets: [
        {
          label: 'Digital Goods',
          backgroundColor: 'rgba(60,141,188,0.9)',
          borderColor: 'rgba(60,141,188,0.8)',
          pointRadius: false,
          pointColor: '#3b8bba',
          pointStrokeColor: 'rgba(60,141,188,1)',
          pointHighlightFill: '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data: [28, 48, 40, 19, 86, 27, 90]
        },
      ]
    }

    var areaChartOptions = {
      maintainAspectRatio: false,
      responsive: true,
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
          gridLines: {
            display: false,
          }
        }],
        yAxes: [{
          gridLines: {
            display: false,
          }
        }]
      }
    }

    // This will get the first returned node in the jQuery collection.
    var areaChart = new Chart(areaChartCanvas, {
      type: 'line',
      data: areaChartData,
      options: areaChartOptions
    })
    </script>
    
    
    }